.user-info{
  width:60%;
  margin:50px auto;
  text-align: center;
}
.user-info img{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin:30px;
  border:none;
  display: block;
  float: left;
  margin-left: 160px;

}
.user-info .userinfo{
  float: left;
  padding-top: 40px;
}
.user-info .userinfo p{
  color:#727272;
  padding:4px 0;
  text-align: left;
}
.user-info ul{
  margin-top: 30px;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
}
.user-info ul li{

}
.user-info ul li p{
  font-size: 30px;
  color:#436EEE;
  font-weight: 700;
}
.user-info ul li b{
  font-weight: 200;
  font-size: 14px;
  color:#727272;
}
