.user-info{
  width:80%;
  margin:50px auto;
  text-align: center;
}
.user-info img{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin:30px;
  border:none;
  display: block;
  float: left;
  margin-left: 25%;

}
.user-info .userinfo{
  float: left;
  margin-top: 30px;
  padding:10px 40px;
  background: rgba(0,0,0,0.1);
  border-radius: 20px;
}
.user-info .userinfo p{
  color:#727272;
  padding:4px 0;
  text-align: left;
}
.user-info .userinfo .mypage a{
  text-decoration: none;
  color:red;
}
.user-info ul{
  margin-top: 30px;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
}
.user-info ul li{

}
.user-info ul li p{
  font-size: 30px;
  color:#436EEE;
  font-weight: 700;
}
.user-info ul li b{
  font-weight: 200;
  font-size: 14px;
  color:#727272;
}
